@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #d8ddef;
  color: #2a2b2a;
  font-size: ;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: #2a2b2a;
  background-color: #a0a4b8;
  font-weight: 600;
}

.home-icon {
  font-size: 200%;
  margin: 10%;
  color: #2a2b2a;
}

.plus-icon {
  font-size: 200%;
  margin: 10%;
  color: #2a2b2a;
}

.nav-button {
  margin: 10px;
  background-color: #006494;
}

.nav-title {
  font-size: 100%;
  display: flex;
  margin: 0;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2a2b2a;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.product-link {
  text-decoration: none;
  color: black;
}

.product-link:hover {
  text-decoration: underline;
}

section {
  width: 100%;
}

.form-section {
  height: 50%;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.form-component {
  width: 50%;
  align-self: center;
}

.form-description {
  width: 50%;
  align-self: center;
  height: 20%;
}

.form-button {
  color: #d8ddef;
  align-self: center;
  background-color: #000000;
  width: 50%;
  margin: 0;
}
